nav .container {
  background-color: rgb(199, 227, 243);
}
nav a {
  color: #000;
}
header {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 35%;
}
header .pH1 {
  width: 40%;
}
header .pH1 p {
  font-size: 20px;
  padding: 5% 0px;
  margin: 0;
}
header .pH1 h1 {
  font-size: 60px;
}
#wrap {
  margin-top: 5%;
}
#wrap p {
  padding: 5px 45px;
}
#men {
  margin-top: 10%;
}

#qism2 .box1 img {
  margin: 8%;
}
#kids-end {
  width: 100%;
  height: 80vh;
}
#kids-end .container {
  width: 90%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
#kids-end .container .box1 {
  width: 90%;
  height: 60vh;
  background-color: #e7e7e7;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
}
#kids-end .box1 {
  padding: 12%;
}
#kids-end img {
  width: 100%;
  height: auto;
}
#kids-end .checked {
  color: orange;
}
#kids-end h3 {
  padding: 2%;
}
#kids-end .btn {
  width: 70%;
  margin: 2%;
  padding: 10px;
  background-color: rgb(24, 10, 10);
  color: #fff;
}

footer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#accaunt {
  position: fixed;
  top: 0vh;
  width: 100%;
  height: 90vh;
  background-color: steelblue;
  color: #fff;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}
#accaunt .card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}
#accaunt .container {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}
#accaunt .container h1 {
  text-align: center;
  margin-bottom: 30px;
}
#accaunt .container a {
  text-decoration: none;
  color: lightblue;
}
#accaunt .btn {
  cursor: pointer;
  display: inline-block;
  width: 95%;
  margin: auto;
  padding: 10px;
  background-color: lightblue;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
#accaunt .btn:focus {
  outline: 0;
}
#accaunt .btn:active {
  transform: scale(0.98);
}
#accaunt .text {
  margin-top: 30px;
}

#accaunt .form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
#accaunt .form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
}
#accaunt .form-control input:focus,
#accaunt .form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}
#accaunt .form-control label {
  display: flex;
  letter-spacing: 3px;
  position: absolute;
  top: 15px;
  left: 0;
}
#accaunt .form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.285, 1.55);
}
#accaunt .form-control input:focus + label span,
#accaunt .form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

#accaunt i {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 12%;
  left: 2%;
}

#accaunt {
  display: none;
}
#accaunt.active {
  display: block;
}
