* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 500;
}
nav .container {
  width: 100%;
  height: 70px;
  background-color: #fff;
  background-color: rgb(48, 20, 20);
}

nav .menu {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .menu i {
  color: #fff;
  font-size: 25px;
  padding: 10px;
  border-radius: 50px;
}
nav #nav-menu {
  display: none;
}
nav i {
  opacity: 0;
}
nav li {
  display: inline;
  list-style-type: none;
}
nav a {
  padding: 0px 25px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
nav a:hover {
  font-size: 22px;
}

nav .search {
  margin-right: 50px;
}
nav .search .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .search i {
  opacity: 1;
  background-color: #000;
  border: 1px solid #fff;
  margin: 0px 5%;
}

nav select {
  margin: 0px 15px;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: rgb(48, 20, 20);
  border: 2px solod #fff;
  color: #fff;
}
nav select:hover {
  background-color: #fff;
  color: rgb(48, 20, 20);
}

#iconc i {
  padding: 10px;
  border-radius: 50px;
  background-color: #fff;
  border: 2px solid #000;
  position: fixed;
  z-index: 500;
}

header {
  width: 100%;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
header .container {
  width: 90%;
  margin: auto;
}
header .iteam {
  position: absolute;
  top: 50%;
  width: 25%;
}
header .iteam h1 {
  font-size: 38px;
  color: #fff;
}
header .iteam p {
  font-size: 20px;
  color: #fff;
  padding: 15px 0px;
}
header .iteam input {
  padding: 10px 30%;
  border-radius: 5px;
}
header .iteam i {
  opacity: 0;
}
header .iteam .btn {
  position: relative;
  left: 70%;
  bottom: 37px;
  padding: 7px 15px;
  background-color: rgb(24, 10, 10);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

main {
  width: 100%;
  height: 165vh;
  position: relative;
}

main div h1 {
  text-align: center;
  padding: 40px 0px;
}
#wrap {
  width: 100%;
  height: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap p {
  cursor: pointer;
  margin: 0px 5%;
  padding: 5px 35px;
  background-color: rgb(24, 10, 10);
  color: #fff;
  border-radius: 30px 5px 30px 5px;
}

/* main .line {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 35px;
  border: 1px solid #000;
  border-radius: 30px;
} */

main .container {
  width: 90%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 0.5rem;
}

main .checked {
  color: orange;
}

main .box1 {
  margin: 5% 0px;
  width: 80%;
  background-color: #e7e7e7;
  border-radius: 5px;
  margin: 1rem 1rem;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
}
main .box1 img {
  width: 250px;
  height: 250px;
  margin-left: 2.5%;
  /* border-radius: 50%; */
}
main .box1 h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .box1 h3,
p,
span,
button {
  margin-left: 5%;
  padding: 5px 0px;
}

main .box1 .btn {
  padding: 10px 22%;
  background-color: rgb(24, 10, 10);
  color: #fff;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#part p {
  position: relative;
  left: 33%;
  bottom: 250px;
  font-size: 34px;
}
#wrap1,
#wrap2,
#wrap3 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
#wrap1 p,
#wrap2 p,
#wrap3 p {
  cursor: pointer;
  margin: 0px 5%;
  padding: 5px 200px;
  background-color: rgb(24, 10, 10);
  color: #fff;
  border-radius: 30px 5px 30px 5px;
}

#qism2 {
  width: 100%;
}
#qism2 .qism0 {
  width: 90%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#qism2 .checked {
  color: orange;
}

#qism2 .box1 {
  margin: 5% 0px;
  width: 80%;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
}

#qism2 .box1 h3,
p,
span,
button {
  margin-left: 5%;
  padding: 5px 0px;
}
#qism2 .box1 img {
  margin: 18%;
}

#qism2 .box1 .btn {
  padding: 10px 65px;
  background-color: rgb(24, 10, 10);
  color: #fff;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#text {
  width: 100%;
  height: 60vh;
  background-color: #f3f3f3;
}
#text .container {
  width: 80%;
  margin: auto;
}
#text h2 {
  padding: 5% 0px 5% 5%;
}
#text p {
  font-size: 18px;
  padding: 10px;
}

#kids {
  width: 100%;
  height: 60vh;
  margin: 5% 0px;
}
#kids .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#kids .checked {
  color: orange;
}
#kids .box1 {
  width: 80%;
  margin: auto;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
}
#kids .box1 h3,
p,
span,
button {
  margin-left: 5%;
  padding: 5px 0px;
}
#kids .box1 img {
  margin: 10%;
}

#kids .box1 .btn {
  padding: 10px 65px;
  background-color: rgb(24, 10, 10);
  color: #fff;
  margin: 10px;
  border-radius: 5px;
}

#img {
  width: 100%;
  height: 25vh;
}
#img .container {
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

footer {
  width: 100%;
  height: 30vh;
}
footer .container {
  width: 80%;
  margin: auto;
}
footer h2 {
  padding-top: 3%;
  padding-left: 5%;
}
footer p {
  font-size: 18px;
}
footer .btn {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: rgb(24, 10, 10);
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
}
footer .iconc {
  position: relative;
  left: 70%;
  bottom: 50px;
}
footer .iconc img {
  padding: 10px;
}

#col {
  width: 100%;
  height: 50vh;
  margin: 5% 0px;
}
#col .container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#col .col-2 {
  width: 100%;
  height: 20vh;
  display: grid;
  position: relative;
}

#col .col-2 p {
  font-size: 18px;
}
#col .col-2 .inbtn {
  display: flex;
}
#col .col-2 input {
  border-radius: 5px;
  opacity: 0.5;
}
#col .col-2 .btn {
  background-color: rgb(24, 10, 10);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 5px 20px;
}
#col .centerLine {
  width: 80%;
  border: 1px solid #000;
  margin: 5% auto;
}
#col p,
a {
  padding: 10px;
  text-decoration: none;
}
#col img {
  padding: 3px;
}

#payImage {
  width: 100%;
  height: 10vh;
}
#payImage .content {
  width: 30%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
#payImage img {
  width: 80px;
  height: 40px;
}

#buy-now-btn {
  width: 100%;
  height: 90vh;
  background-color: rgb(173, 168, 192);
  position: fixed;
  top: 8vh;
  z-index: 1000;
}
#buy-now-btn .container {
  width: 90%;
  margin: auto;
  margin: 2% 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#buy-now-btn i {
  position: absolute;
  top: 5%;
  font-size: 24px;
}
#buy-now-btn img {
  margin: 5% 0px;
  margin: 0 20%;
  background-color: #fff;
}
#buy-now-btn .btn-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 10% 3%;
  cursor: pointer;
}
#buy-now-btn .btn-image img {
  width: 100px;
  height: auto;
}
#buy-now-btn .btn-color .btn {
  width: 80%;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
#buy-now-btn .btn-size .btn {
  width: 15%;
  padding: 5px;
  background-color: rgb(49, 44, 44);
  color: #fff;
  cursor: pointer;
}

#price {
  margin: 2% 30%;
}
#buy-now-btn .text {
  margin: 15% 20%;
}
#buy-now-btn .text p {
  font-size: 18px;
}
#buy-now-btn .text h1,
p,
h4 {
  padding: 2%;
}

#buy-now-btn .text .btn {
  margin: 50%;
  padding: 10px 45px;
  background-color: rgb(24, 10, 10);
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

#buy-now-btn.active {
  display: block;
}
#buy-now-btn {
  display: none;
}
.div {
  width: 60px;
  height: 30px;
  border-radius: 30px 5px 30px 5px;
  margin: auto;
  border: 1px solid blue;
  background-color: coral;
  position: relative;
  top: 10px;
  left: 80px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
}
.div h4 {
  position: absolute;
  left: 20%;
  top: 20%;
}

#col .col-1 i {
  padding: 2% 0px;
}

#nav-link {
  opacity: 0;
}

#accaunt {
  position: absolute;
  top: 0vh;
  width: 100%;
  height: 90vh;
  background-color: steelblue;
  color: #fff;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}
#accaunt .card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}
#accaunt .container {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}
#accaunt .container h1 {
  text-align: center;
  margin-bottom: 30px;
}
#accaunt .container a {
  text-decoration: none;
  color: lightblue;
}
#accaunt .btn {
  cursor: pointer;
  display: inline-block;
  width: 95%;
  margin: auto;
  padding: 10px;
  background-color: lightblue;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}
#accaunt .btn:focus {
  outline: 0;
}
#accaunt .btn:active {
  transform: scale(0.98);
}
#accaunt .text {
  margin-top: 30px;
}

#accaunt .form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
#accaunt .form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
}
#accaunt .form-control input:focus,
#accaunt .form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}
#accaunt .form-control label {
  display: flex;
  letter-spacing: 3px;
  position: absolute;
  top: 15px;
  left: 0;
}
#accaunt .form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.285, 1.55);
}
#accaunt .form-control input:focus + label span,
#accaunt .form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

#accaunt i {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 12%;
  left: 2%;
}

#accaunt {
  display: none;
}
#accaunt.active {
  display: block;
}
